body {
	background-image: url(remnant.jpeg);
}

h1 {
	color: white;
	text-align: center;
}

img {
	width: 200px;
	height: 200px;
	float: left;
	padding: 25px;
}

p {
	position: absolute;
	top: 30%;
	left: 25%;
}

